* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-header{
    background: #000;
    color: #fff;
    height: 60px;
    width: 100%;
}
.app-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: sticky;
    top:0;
    z-index: 100; 
}
.header__link{
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;
    height: 60px;
    color: red;
    font-style: normal;
    font-stretch: 100%;
    text-decoration-style: solid;
    text-decoration: none;
    font-size: 32px;
}
.wrap{
    position: relative;
    width: 300px;
    height: 60px;
}
.search-main{
    height: 60px;
    width: 60px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: width .4s;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    color: white;
}
.search-main::placeholder{
    color: white;
}
.search-main:focus{
    width: 300px;
    z-index: 1;
    border: 2px solid #fff;
}
.mainContent{
    justify-content: center;
    margin: 0 5% 0 5%;
   
}
.title_main{
    height: 54px;
    width: 100%;
    margin-top: 54px;
    text-align: center;
}
.title_second{
    padding-bottom: 18px;
    text-align: center;
    border-bottom-style: solid;
}
.mainContent__list_track{
    margin-top: 24px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 60px)
}
.track{
    display: flex;
    align-items: center;
    opacity: 1;
    cursor: pointer;
}
.track:hover{
    opacity: 0.5;
}
.img-track{
    height: 60px;
    width: 60px;
}
.main_executor_list_container{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.img-ex-main{
    max-width: 100%;
    max-height: 100%;
}
.img-ex{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50% 50%
}
.executor_list_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.executor_container_main{
    position: relative;
    border: solid gray;
    opacity: 1;
    cursor: pointer;
}
.executor_container_main:hover{
    opacity: 0.5;
}
.executor_container{
    position: relative;
    border-radius: 50% 50%;
    border: solid gray;
    opacity: 1;
    cursor: pointer;
}
.executor_container:hover{
    opacity: 0.5;
}
.text-ex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: red;
    font-style: bold;
}
.content{
    min-height: calc(100vh - 60px);
}
.footer {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    bottom: 0px;
    height: 60px;
    width: 100%;
}
